<a href="/api/products"> click to view products added </a>
<form action="/api/products" method="POST">
    <input type="text" placeholder="Add product" name="title">
    <input type="text" placeholder="price" name="price">
    <input type="submit" value="Add product">
</form>