<p> Add product </p>
<a href="/api/products"> click to view products </a>
<form action="/api/products" method="POST">
    Title:<input type="text" name="title"/>
    Price:<input type="text" name="price"/>
    <input type="submit" value="Add product"/>
</form>