<a href="/api/"> click to add products </a>
{{#if hasAny}}
    <ul>
        {{#each products}}
            <li> {{this.title}} </li>
            <li> {{this.price}} </li>
        {{/each}}
    </ul>
{{else}}
    <p> No products added! </p>
{{/if}}